@import './color.scss';
@import './font.scss';

@mixin center { // 요소를 중앙 정렬
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin bold_text {  // 굵은 글씨체 요소
  font-family: 'DINRoundPRO', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

body {
  header {
    .tab_wrap {
      @include center;
      @include bold_text;
      width: 90vw;
      color: $color--black;
      margin: 50px 5vw 80px;

      .tab-- {
        &genre {
          flex-grow: 1;
          text-align: center;
        }
        &search {
          flex-grow: 1;
          text-align: center;
        }
      }
      .logo {
        flex-grow: 2;
        text-align: center;
        > img {
          width: 200px;
        }
      }
      .signin {
        flex-grow: 1;
        text-align: center;
      }
      .help-center {
        flex-grow: 1;
        text-align: center;
      }
    }
  }
  .new-and-recommend {
    width: 90vw;
    margin: 20px 5vw;
    .tab-list {
      display: flex;
      @include bold_text;
      ul {
        flex-grow: 1;
        margin-right: 5px;
        padding: 10px 0;
        background-color: $color--theme3;
        a {
          text-decoration: none;
          color: $color--white;
          text-shadow: 1px 1px 2px $color--sub3;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .contents-container {
      width: 90vw;
      height: 320px;
      background-color: $color--theme2;
      .swiper-container {
        width: 95%;
        margin: auto;
        overflow: hidden;
        .swiper-wrapper {
          .swiper-slide {
            width: 12.5%;
            .art-box {
              height: 320px;
              @include center;
              img {
                width: 80%;
                transition: .5s;
              }
            }
            &:hover {
              .art-box img {
                width: 100%;
              }
            }
          }
          // viewport: 1440px -> slides per view: 6
          @media (max-width: 1440px) {
            .swiper-slide {
              width: 16.6%;
            }
          }
          // viewport: 1024px -> slides per view: 5
          @media (max-width: 1024px) {
            .swiper-slide {
              width: 20%;
            }
          }
          // viewport: 768px -> slides per view: 4
          @media (max-width: 768px) {
            .swiper-slide {
              width: 25%;
            }
          }
        }
      }
    }
  }
}