@import './color.scss';
@import './font.scss';

@mixin center { // 요소를 중앙 정렬
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin bold_text {  // 굵은 글씨체 요소
  font-family: 'DINRoundPRO', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

body {
  header {
    .tab_wrap {
      @include center;
      @include bold_text;
      position: fixed;
      width: 100vw;   
      color: $color--black;
      margin-top: 20px;
      margin-bottom: 20px;

      .tab {
        &--genre {
          flex-grow: 1;
          text-align: center;
        }
        &--search {
          flex-grow: 1;
          text-align: center;
        }
      }
      .logo {
        flex-grow: 2;
        text-align: center;
        > img {
          width: 200px;
        }
      }
      .signin {
        flex-grow: 1;
        text-align: center;
      }
      .help-center {
        flex-grow: 1;
        text-align: center;
      }
    }
  }
}